*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: url("Images/body-bg.png.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
:root{
    --primary-font:'Kanit', sans-serif;
}
.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("Images/home2.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    
}
.Nav-bar{
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
}
.nav-link{
    color: black;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
}
.nav-link:hover{
    color: rgb(146, 46, 241);
}
.dropdown-item:hover{
    background-color: rgb(146, 46, 241);
    transition: .3s all ease-in-out;
    color: white;
}
h1{
    font-size: 1.5rem;
}

li a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
}
li a:hover{
    color: rgb(146, 46, 241);
} 
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* padding: 150px; */
}
/* Footer Section */
.foot{
    min-height: fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: -webkit-linear-gradient(to right, #00001a, #00004d);
    background: linear-gradient(to right, #00001a, #00004d); */
}
.fab{
    color: gray;
}
.fab:hover{
    color: rgb(146, 46, 241);
} 
/* Home Section End */